.wrapper
  = form_tag create_session_path do
    %section.inputs.centered
      %h3 Simple and Free Invoice Tracker

      %div
        = text_field_tag :email, params[:email], placeholder: 'john.doe@example.com', class: 'simple'

      %div
        = password_field_tag :password, '', placeholder: 'Password', class: 'simple'
        %br
        = link_to 'Forgot Password', '#', class: 'text bottom right'

    %section.buttons.centered
      = submit_tag 'Login', class: 'flat big'
