= form_for @invoice, html: { remote: true, class: 'two-column' } do |f|
  .row
    .small-12.column
      %h3.subheader #{@invoice.persisted? ? 'Edit' : 'New'} Invoice

  .row
    .small-6.column
      %label
        Project
        = link_to '#', class: 'new-project-dialog', data: { no_turbolink: true } do
          %span.icon-plus.icon-only{ title: 'New Project' }

        .select-container
          = f.collection_select :project_id, current_user.projects, :id, :name, { include_blank: true }

    .small-6.column
      %label
        Client Reference Number
        = f.text_field :client_reference_number

  .row
    .small-6.column
      %label
        Invoice Number
        = f.text_field :number

    .small-6.column
      %label
        Currency
        = f.text_field :currency

  .row
    .small-6.column
      %label
        PDF Page Size
        = f.select :page_size, Invoice::PAGE_SIZES

    .small-6.column
      %label
        Payment Details
        = f.text_area :payment_details

  .row
    .small-6.column
      %label
        Date Invoiced
        = f.text_field :date, class: 'dp', value: @invoice.date.try(:to_s, :default)

    .small-6.column
      %label
        Due Date
        = f.text_field :due_date, class: 'dp', value: @invoice.due_date.try(:to_s, :default)

  .row
    .small-12.column
      #invoice_invoice_items
        Invoice Items
        = link_to '#', class: 'new-invoice-item-link', data: { no_turbolink: true } do
          %span.icon-plus.icon-only{ title: 'New Invoice Item' }

        %label.qty-checkbox
          = f.check_box :no_quantity
          Don't show quantity

      = f.fields_for :invoice_items do |iif|
        .invoice-item-container
          .name= iif.text_field :name, placeholder: 'Item name', class: 'simple no-error', id: nil
          .quantity= iif.text_field :quantity, placeholder: 'Qty', class: 'simple no-error', id: nil
          .amt= iif.text_field :unit_amount, placeholder: 'Unit Amt', class: 'simple no-error', id: nil
          .icon-error.icon-only.delete-invoice-item{ title: 'Delete Invoice item' }
          .clearfix

  .row
    .small-12.column.small-centered.text-center
      = f.submit nil, class: 'button'
