= form_for @invoice, html: { remote: true, class: 'two-column' } do |f|
  .row
    .small-12.column
      %h3.subheader #{@invoice.persisted? ? 'Edit' : 'New'} Invoice

  .row
    .small-12.column
      %label
        Project
        = link_to new_project_path(inline: true), remote: true do
          %i.fi-plus{ title: 'New Project' }

        .select-container
          = project_select(current_user.projects, @invoice.project_id)

  .row
    .small-12.medium-6.column
      %label
        Client Reference Number
        = f.text_field :client_reference_number

    .small-12.medium-6.column
      %label
        Invoice Number
        = f.text_field :number

  .row
    .small-12.medium-6.column
      %label
        Currency
        = f.text_field :currency

    .small-12.medium-6.column
      %label
        Payment Details
        = f.text_area :payment_details

  .row
    .small-12.medium-6.column
      %label
        Date Invoiced
        = f.text_field :date, class: 'dp', value: @invoice.date.try(:to_s, :default)

    .small-12.medium-6.column
      %label
        Due Date
        = f.text_field :due_date, class: 'dp', value: @invoice.due_date.try(:to_s, :default)

  .row
    .small-12.column
      .left
        %label
          .invoice-items
            Invoice Items
            = link_to '', class: 'new-invoice-item-link' do
              %i.fi-plus{ title: 'New Invoice Item' }

      .right
        = f.check_box :no_quantity
        Don't show quantity

  .row
    .small-12.column#invoice_invoice_items
      = f.fields_for :invoice_items, f.object.invoice_items.ordered_by_id do |iif|
        .row.invoice-item-container
          .small-12.medium-6.column.name= iif.text_field :name, placeholder: 'Item name', id: nil
          .small-4.medium-2.column.quantity= iif.text_field :quantity, placeholder: 'Qty', id: nil
          .small-8.medium-4.column.amt
            = iif.text_field :unit_amount, placeholder: 'Unit Amt', id: nil
            %div
              %i.fi-minus-circle

  .row
    .small-12.column.small-centered.text-center
      = f.submit nil, class: 'button'
