!!! 5
%html
  %head
    %meta{'http-equiv' => 'content-type', 'content' => 'text/html; charset=utf-8'}

  :css
    html, body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }

    body {
      width: 960px;
      height: 1346px;
      position: relative;
    }

    #wrapper { padding: 0 30px 30px; }

    #header { position: relative; }

    .user {
      border: 2px dotted #000;
      border-top: 0;
      width: 336px;
      padding: 30px 0 10px;
      text-align: center;
    }

    .user .img-container {
      height: 200px;
    }

    .user p {
      margin: 5px 0;
    }

    .invoice {
      width: 470px;
      margin-left: 430px;
      position: absolute;
      bottom: 0;
    }

    .invoice  p {
      font-weight: bold;
      font-size: 30px;
    }

    dl {
      clear: both;
    }

    dt {
      float: left;
      text-align: right;
      margin-right: 15px;
      width: 100px;
    }

    #main {
      clear: both;
      padding-top: 30px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    td, th {
      border: 1px solid black;
      padding: 10px;
      text-align: center;
    }

    tr:first-child th {
      border-top: 0;
    }

    tr:last-child td {
      border-bottom: 0;
    }

    tr td:first-child, tr th:first-child {
      border-left: 0;
    }

    tr td:last-child, tr th:last-child {
      border-right: 0;
    }

    #footer {
      clear: both;
      border-top: 1px dashed #000;
      position: absolute;
      bottom: 0;
      padding: 30px 0;
      width: 100%;
    }

    #footer p {
      padding: 0 30px;
    }

    .total {
      margin-top: 20px;
      text-align: center;
      font-weight: bold;
      font-size: 1.5em;
    }

  %body.pdf
    #wrapper
      #header
        - if detail = current_user.user_detail
          .user
            .img-container

            - if detail.name.present?
              %p{ style: 'padding-bottom:10px;' }
                %b= detail.name

            - %w[address1 address2 address3 country postal_code].each do |attr|
              - if detail.send(attr).present?
                %p= detail.send(attr)

            %p= current_user.email

        .invoice
          %p This is your invoice.

          - if @invoice.number.present?
            %dl
              %dt Invoice No:
              %dd= @invoice.number

          %dl
            %dt Date:
            %dd= @invoice.date.to_s(:default)

          %dl
            %dt Client:
            %dd= @invoice.project.client.name

          %dl
            %dt Project:
            %dd= @invoice.project.name

      #main
        %table
          %thead
            %tr
              %th Item Name

              - if @invoice.no_quantity?
                %th Amount (#{@invoice.currency})

              - else
                %th Quantity
                %th Unit Amount
                %th Amount (#{@invoice.currency})

          %tbody= render partial: 'invoice_item', collection: @invoice.invoice_items, locals: { invoice: @invoice }

        .total
          TOTAL DUE
          = number_to_currency @invoice.total_amount, unit: @invoice.currency

    #footer= simple_format @invoice.payment_details
