%table
  %thead
    %tr
      %th Client
      %th Project
      %th Date Invoiced
      %th Total Amount
      %th Status
      %th

  %tbody
    - @invoices.each do |invoice|
      %tr
        %td= link_to invoice.project.client, invoice.project.client
        %td= link_to invoice.project, invoice.project
        %td= invoice.date.to_s(:default)
        %td= invoice.total_amount
        %td= invoice.status.titleize
        %td
          = link_to content_tag(:i, '', class: 'fi-eye'), invoice, title: 'View'
          = link_to content_tag(:i, '', class: 'fi-pencil'), [:edit, invoice], title: 'Edit'
          = link_to content_tag(:i, '', class: 'fi-x'), invoice, method: :delete, remote: true, title: 'Delete'
