%table
  %thead
    %tr
      %th Client
      %th Project
      %th Date Invoiced
      %th Total Amount
      %th Status
      %th

  %tbody
    - @invoices.each do |invoice|
      %tr
        %td= link_to invoice.project.client.name, invoice
        %td= invoice.project.name
        %td= invoice.date.to_s(:default)
        %td= invoice.total_amount
        %td= invoice.status.titleize
        %td
          = link_to '', [:edit, invoice], class: 'icon-edit icon-only'
          = link_to '', invoice, method: :delete, class: 'icon-trash icon-only'
