%dl
  %dt Client
  %dd= @invoice.project.client.name

%dl
  %dt Project
  %dd= @invoice.project.name

%dl
  %dt Date Invoiced
  %dd= @invoice.date.to_s(:default)

%dl
  %dt Invoice Number
  %dd= @invoice.number

%dl
  %dt Status
  %dd= @invoice.status.titleize

%table
  %thead
    %tr
      %th Item
      %th Quantity
      %th Unit Amount
      %th Amount (#{@invoice.currency})

  %tbody= render partial: 'invoice_item', collection: @invoice.invoice_items

  %tfoot
    %tr
      %th{ colspan: 3, style: 'text-align:right;' } Total
      %th= number_to_currency @invoice.total_amount, unit: @invoice.currency

