%dl
  %dt Client
  %dd= @invoice.project.client.name

%dl
  %dt Project
  %dd= @invoice.project.name

%dl
  %dt Date Invoiced
  %dd= @invoice.date.to_s(:default)

%dl
  %dt Status
  %dd= @invoice.status.titleize

%table
  %thead
    %tr
      %th Item
      %th Quantity
      %th Unit Amount
      %th Amount

  %tbody= render partial: 'invoice_item', collection: @invoice.invoice_items
