!!!
%html
  %head
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js'

    :css
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

      a {
        color: #0087C3;
        text-decoration: none;
      }

      .wrapper {
        position: relative;
        width: 21cm;
        height: 29.7cm;
        margin: 0 auto;
        color: #555555;
        background: #FFFFFF;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-family: SourceSansPro;
        page-break-after: always;
      }

      .wrapper:last-child {
        page-break-after: avoid;
      }

      header {
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #AAAAAA;
      }

      #logo {
        float: left;
        margin-top: 8px;
      }

      #logo img {
        height: 70px;
      }

      #company {
        float: right;
        text-align: right;
      }


      #details {
        margin-bottom: 50px;
      }

      #client {
        padding-left: 6px;
        border-left: 6px solid #0087C3;
        float: left;
      }

      #client .to {
        color: #777777;
      }

      h2.name {
        font-size: 1.4em;
        font-weight: normal;
        margin: 0;
      }

      #invoice {
        float: right;
        text-align: right;
      }

      #invoice h1 {
        color: #0087C3;
        font-size: 2.4em;
        line-height: 1em;
        font-weight: normal;
        margin: 0  0 10px 0;
      }

      #invoice .date {
        font-size: 1.1em;
        color: #777777;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
      }

      table th,
      table td {
        padding: 20px;
        background: #EEEEEE;
        text-align: center;
        border-bottom: 1px solid #FFFFFF;
      }

      table th {
        white-space: nowrap;
        font-weight: normal;
      }

      table td {
        text-align: right;
      }

      table td h3{
        color: #57B223;
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 0 0.2em 0;
      }

      table .no {
        color: #FFFFFF;
        font-size: 1.6em;
        background: #57B223;
      }

      table .desc {
        text-align: left;
      }

      table .unit {
      }

      table .qty {
        background: #DDDDDD;
      }

      table .total {
        background: #57B223;
        color: #FFFFFF;
      }

      table td.unit,
      table td.qty,
      table td.total {
        font-size: 1.2em;
      }

      table tbody tr:last-child td {
        border: none;
      }

      table tfoot td {
        padding: 10px 20px;
        background: #FFFFFF;
        border-bottom: none;
        font-size: 1.2em;
        white-space: nowrap;
        border-top: 1px solid #AAAAAA;
      }

      table tfoot tr:first-child td {
        border-top: none;
      }

      table tfoot tr:last-child td {
        color: #57B223;
        font-size: 1.4em;
        border-top: 1px solid #57B223;

      }

      table tfoot tr td:first-child {
        border: none;
      }

      #thanks{
        font-size: 2em;
        margin-bottom: 50px;
      }

      #notices{
        padding-left: 6px;
        border-left: 6px solid #0087C3;
      }

      #notices .notice {
        font-size: 1.2em;
      }

      footer {
        color: #777777;
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0;
        border-top: 1px solid #AAAAAA;
        padding: 8px 0;
        text-align: center;
      }


  %body
    %header.clearfix
      #company
        %h2.name= @invoice.project.name

    %main
      #details.clearfix
        #client
          .to INVOICE TO:
          %h2.name= @invoice.project.client.name

        #invoice
          %h1 INVOICE #{@invoice.number}
          .date= @invoice.date.to_s(:default)

      %table{ border: 0, cellspacing: 0, cellpadding: 0 }
        %thead
          %tr
            %th.desc DESCRIPTION

            - if @invoice.no_quantity?
              %th.total TOTAL

            - else
              %th.qty QUANTITY
              %th.unit UNIT PRICE
              %th.total TOTAL

        %tbody
          = render partial: 'invoice_item', collection: @invoice.invoice_items.order('created_at ASC'), locals: { invoice: @invoice }

        %tfoot
          %tr
            %td{ colspan: @invoice.no_quantity? ? 1 : 3 } GRAND TOTAL
            %td= number_to_currency @invoice.total_amount, unit: @invoice.currency

      - if @invoice.payment_detail
        #notices
          %div NOTICE:
          .notice= simple_format @invoice.payment_detail.text

    %footer
      Invoice was created on a computer and is valid without the signature and seal.

    :javascript
      var page = 0
      var maxHeight = 0
      var wrapper = null
      var pageHeader = $('header').clone(true)
      var details = $('#details').clone(true)
      var th = $('table thead').clone(true)
      var tf = $('table tfoot').clone(true)
      var notice = $('#notices').clone(true)
      var footer = $('footer').clone(true)
      var rows = $('table tbody tr').clone(true).toArray()

      function draw() {
        if (page === 0) { $('body').html('') }

        wrapper = $('<div class="wrapper"></div>').appendTo('body');

        if (page === 0) {
          wrapper.append(pageHeader)
          wrapper.append(details)
        }

        wrapper.append('<table><thead>' + th.html() + '</thead><tbody></tbody></table>')
        wrapper.append('<footer>' + footer.html() + '</footer>')

        maxHeight = wrapper.height() - wrapper.find('footer').outerHeight() - wrapper.find('header').outerHeight() - wrapper.find('thead').outerHeight() - 30

        while (rows.length && maxHeight > wrapper.find('tbody').outerHeight()) {
          wrapper.find('tbody').append(rows.shift())
        }

        if (maxHeight < wrapper.find('tbody').outerHeight()) {
          rows.unshift(wrapper.find('tbody tr').last())
        }
      }

      while (rows.length) {
        draw()
        page++
      }

      wrapper.find('table').append(tf)

      if (notice.length) {
        wrapper.find('table').after(notice)

        if (maxHeight < wrapper.find('tbody').outerHeight() + notice.outerHeight()) {
          $('<div class="wrapper">' + notice.html() + footer.html() + '</div>').appendTo('body')
          notice.remove()
        }
      }
