%nav.top-bar.fixed{ role: 'navigation', data: { topbar: true } }
  %section.top-bar-section
    %ul.right
      = navlink 'Profile', [:edit, current_user], current_page?([:edit, current_user])
      = navlink 'Logout', destroy_session_path, false, method: :delete

    %ul.left
      = navlink 'Clients',  clients_path,  controller_name == 'clients'
      = navlink 'Projects', projects_path, controller_name == 'projects'
      = navlink 'Invoices', invoices_path, controller_name == 'invoices'
