%div{ style: 'float:right;' }
  %ul.main-nav
    = link_to [:edit, current_user] do
      %li Profile

    = link_to destroy_session_path, method: :delete do
      %li Logout

%ul.main-nav
  = link_to clients_path do
    %li Clients

  = link_to projects_path do
    %li Projects

  = link_to invoices_path do
    %li Invoices

.clearfix
