%nav.top-bar.fixed{ role: 'navigation', data: { topbar: true } }
  %ul.title-area
    %li.name
    %li.toggle-topbar.menu-icon
      %a{ href: '#' }
        %span

  %section.top-bar-section
    %ul.right
      = navlink 'Profile', [:edit, current_user]
      = navlink 'Logout', destroy_session_path, method: :delete

    %ul.left
      %li.has-dropdown
        = link_to 'Clients', clients_path

        %ul.dropdown
          %li= link_to 'Manage Clients', clients_path
          %li= link_to 'New Client', new_client_path, remote: true

      %li.has-dropdown
        = link_to 'Projects', projects_path

        %ul.dropdown
          %li= link_to 'Manage Projects', projects_path
          %li= link_to 'New Project', new_project_path, remote: true

      %li.has-dropdown
        = link_to 'Invoices', invoices_path

        %ul.dropdown
          %li= link_to 'Manage Invoices', invoices_path
          %li= link_to 'New Invoice', new_invoice_path
