= form_for @client, html: { remote: true } do |f|
  = hidden_field_tag :inline, params[:inline]

  .row
    .small-12.column
      %h3.subheader #{@client.persisted? ? 'Edit' : 'New'} Client

  .row
    .small-12.column
      %label
        Client Name
        = f.text_field :name

  .row
    .small-12.column
      %label
        Contact Person Name
        = f.text_field :contact_person

  .row
    .small-12.column
      %label
        Address
        = f.text_field :address

  .row
    .small-12.column
      %label
        Contact Number
        = f.text_field :contact_number

  .row
    .small-12.column.small-centered.text-center
      = f.submit nil, class: 'button'
