%ul.small-block-grid-8
  %li
    %ul.pricing-table
      %li.title Client Name
      %li.bullet-item= @client.name

  %li
    %ul.pricing-table
      %li.title Contact Person
      %li.bullet-item= @client.contact_person

  - if @client.address.present?
    %li
      %ul.pricing-table
        %li.title Address
        %li.bullet-item= @client.address

  - if @client.contact_number.present?
    %li
      %ul.pricing-table
        %li.title Contact Number
        %li.bullet-item= @client.contact_number

- if @projects.any?
  %h4 Projects
  = render 'projects/projects', table_class: 'hide-client', projects: @projects

- if @invoices.any?
  %h4 Invoices
  = render 'invoices/invoices', table_class: 'hide-client', invoices: @invoices
