= form_for @project, html: { remote: true } do |f|
  .row
    .small-12.column
      %h3.subheader #{@project.persisted? ? 'Edit' : 'New'} Project

  .row
    .small-12.column
      %label
        Client
        = link_to new_client_path(inline: true), remote: true do
          %span.icon-plus.icon-only.flat{ title: 'New Client' }

        = f.collection_select :client_id, current_user.clients, :id, :name, { include_blank: true }

  .row
    .small-12.column
      %label
        Name
        = f.text_field :name

  .row
    .small-12.small-centered.text-center
      = f.submit nil, class: 'button'
