!!! 5
%html
  %head
    %title Simple Invoice Tracker

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:400,100'

    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body
    #wrapper
      #header= render "shared/#{current_user ? 'private' : 'public'}_nav"

      #content
        = render 'shared/flash_message'
        = yield

      .push

    #footer
      Code by #{link_to 'Jim Ruther Nill', 'http://www.jimruthernill.com', target: '_blank'} &copy; #{Date.today.year}

    #client-dialog.reveal-modal{ data: { reveal: true } }
    #project-dialog.reveal-modal{ data: { reveal: true } }
    #profile-dialog.reveal-modal{ data: { reveal: true } }
    #templates-dialog.reveal-modal{ data: { reveal: true } }
